# db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB_NAME=beerpong
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# backend
API_BASE_URL=http://localhost:8080
JWT_SECRET=SomeVeryLongRandomSecretKeyWhichIsUsedToEncodeJwtTokensForAuthorization

# sentry
# TODO: respect this: MOBILE_APP_SENTRY_DSN=https://48d0726c7648ee3dc2ae1c6f0238d7ed@o4508333440892928.ingest.de.sentry.io/4508333445152848
BACKEND_SENTRY_DSN=https://<>@<>.ingest.de.sentry.io/<>

# s3
AWS_REGION=eu-central-1
AWS_BUCKET_NAME=versus-bucket
AWS_ENDPOINT=https://endpoint.com
AWS_ACCESS_KEY=access-key
AWS_SECRET_KEY=secret-key